---
layout: page
title: "Resources"
description: "逆水行舟，不进则退"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>放下妄念，即刻行动<br>
   厚积薄发，积思成释</p></blockquote>

    <p>这里是科研学习的相关资料（持续更新中，请常来看看）。</p>


    <p></p>
    <!--       
    <h3 id="toc_0">手册类</h3>

    <ul>
    <li><a href="{{site.baseurl}}/2018/12/10/brief">格罗比言简介</a></li>
    <li><a href="{{site.baseurl}}/2019/01/11/overview">格罗比言概述</a></li>
    <li><a href="{{site.baseurl}}/2019/09/22/detailed-phonetics">格罗比言详解（一 语音）</a></li>
    <li>格罗比言详解（二 词汇）</li>
    <li>格罗比言详解（三 语法）</li>
    </ul>
        -->

    <h3 id="toc_1">教程类</h3>

    <ul>
    <li><a href="{{site.baseurl}}/files/redbook.pdf">一本小小的红色写作书</a></li>
    <li><a href="{{site.baseurl}}/files/bluebook.pdf">一本小小的蓝色逻辑书</a></li>
    <li><a href="{{site.baseurl}}/files/cvits.pdf">Computer Vision and Imaging in Intelligent Transportation Systems</a></li>
    <li><a href="{{site.baseurl}}/files/Rdatascience.pdf">R数据科学</a></li>
    <li><a href="{{site.baseurl}}/files/Rlpractice.pdf">R语言实战</a></li>
    <li><a href="{{site.baseurl}}/files/RLbook2020.pdf">Reinforcement Learning</a></li>
    <li><a href="{{site.baseurl}}/files/rlb.pdf">强化学习</a></li>
    <li><a href="{{site.baseurl}}/files/zzhml.pdf">机器学习（西瓜书）</a></li>
    <li><a href="{{site.baseurl}}/files/dlbook_en.pdf">Deep Learning</a></li>
    <li><a href="{{site.baseurl}}/files/dlbook_cn.pdf">深度学习（花书）</a></li>
    <li><a href="{{site.baseurl}}/files/d2l-zh-pytorch.pdf">动手学深度学习（李沐）</a></li>
    <li><a href="{{site.baseurl}}/files/pydl_cn.pdf">Python 深度学习</a></li>
    <li><a href="{{site.baseurl}}/files/pydl_en.pdf">Deep Learning with Python</a></li>
    <li><a href="{{site.baseurl}}/files/LAGA.pdf">Linear Algebra A Geometric Approach</a></li>
    <li><a href="{{site.baseurl}}/files/latex_preliminary.pdf">Latex 入门</a></li>
    <li><a href="{{site.baseurl}}/files/tft.pdf">Traffic flow theory</a></li>
    <li><a href="{{site.baseurl}}/files/tfddms.pdf">Traffic Flow Dynamics Data Models and Simulation</a></li>
    <li><a href="{{site.baseurl}}/files/progit.pdf">Pro Git</a></li>

    <!--<li> </li>
    <li></li>
    <li></li>-->
    </ul>

    <!--<h3 id="toc_2">词典类</h3>-->
    <!--
    <ul>
    <li><a href="https://github.com/globien/globien.github.io/wiki">格罗比言维基词典</a></li>
    <li><a href="{{site.baseurl}}/files/vocabulary-v0.6.pdf">格罗比言词汇表（V0.6）</a></li>
    </ul>
    -->

    <h3 id="toc_3">网站类</h3>

    <ul>
    <li>学术短语库：<a href="https://www.phrasebank.manchester.ac.uk/using-cautious-language/" target="_blank">Academic Phrasebank</a></li>
    <li>英文润色工具：<a href="https://instatext.io/editor/?v2=1&u=4892901148800&t=t" target="_blank">InstaText</a></li>
    <li>英文语法检查工具：<a href="https://app.grammarly.com/" target="_blank">Grammarly</a></li>
    <li>谷歌联合实验室：<a href="https://colab.google/" target="_blank">google colab</a></li>
    <li>可租用服务器：<a href="https://featurize.cn/vm/available" target="_blank">Featurize</a></li>
    <li>在线Latex：<a href="https://www.overleaf.com/login?" target="_blank">Overleaf</a></li>
    <li>谷歌学术：<a href="https://scholar.google.com/" target="_blank">Google Scholar</a></li>
    <li>相关文献：<a href="https://www.connectedpapers.com/" target="_blank">Connected Papers</a></li>
    <li>谷歌翻译：<a href="https://translate.google.com/?sl=auto&tl=zh-CN&op=translate" target="_blank">Google Translate</a></li>
    <li>DeepL翻译：<a href="https://www.deepl.com/zh/translator" target="_blank">DeepL Translate</a></li>
    <li>中南大学邮箱：<a href="https://mail.csu.edu.cn/coremail/index.jsp?nodetect=true" target="_blank">CSU Email System</a></li>
    <li>126邮箱：<a href="https://email.163.com/" target="_blank">126 Email</a></li>
    <li>轨迹提取框架：<a href="https://ai.datafromsky.com/picker?_ga=2.195093860.932203488.1713776741-535730688.1713776741" target="_blank">DataFromSky</a></li>
    <li><a href="https://www.researchgate.net/" target="_blank">ResearchGate</a></li>
    <li><a href="https://libres.csu.edu.cn/https/vpn/225/P7TXE55GPNSXT3LPMNTT6Z5MMF3GT7UBPSTT6Z5P/wos/alldb/basic-search" target="_blank">Web of Science</a></li>
    <li><a href="https://libres.csu.edu.cn/https/vpn/225/NJSYELUDNSRYE4LXMF4GKLUDN7XB/jcr/home?app=jcr&Init=Yes&authCode=null&SrcApp=IC2LS" target="_blank">Journal Citation Reports</a></li>
    <li><a href="https://www.jmlr.org/" target="_blank">Journal of Machine Learning Research</a></li>
    <li><a href="https://blacksmithgu.github.io/obsidian-dataview/" target="_blank">Obsidian Dataview</a></li>
    <li><a href="https://zhuanlan.zhihu.com/p/393550306" target="_blank">obsidian插件dataview官方文档翻译</a></li>
    <li><a href="https://git-scm.com/book/zh/v2/" target="_blank">Git 版本控制</a></li>
    <li><a href="https://zh.d2l.ai/chapter_preface/index.html" target="_blank">动手学深度学习</a></li>
    <li><a href="https://wesmckinney.com/book/" target="_blank"> Python for Data Analysis</a></li>
    </ul>

    <hr>

    <small> <font color="a0a9a9">
    <b>特别说明：</b>
    <li>因为学习科研是一个持续的过程，网站的学习内容将会持续更新，敬请理解。</li>
    </font>
    <small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  
{% if site.gitalk.enable %}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

